Repository GoogleCloudPlatform/k8s-cloud-provider, pull requests merged in 2021-07, with the labels that each got.

#59 Cover nil for ResourceID Equal()
  pkg/cloud/utils.go
  pkg/cloud/utils_test.go
Labels: approved, lgtm, ok-to-test, size/M

#61 Add TargetTcpProxy GA
  pkg/cloud/gen.go
  pkg/cloud/gen_test.go
  pkg/cloud/meta/meta.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#62 Add Subnetwork Patch method and fix service type version
  pkg/cloud/gen.go
  pkg/cloud/meta/meta.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#63 Add images service
  pkg/cloud/gen.go
  pkg/cloud/gen_test.go
  pkg/cloud/meta/meta.go
Labels: approved, lgtm, needs-ok-to-test, size/XXL

#65 Add support for NetworkFirewallPolicy alpha API
  pkg/cloud/gen.go
  pkg/cloud/gen_test.go
  pkg/cloud/meta/meta.go
Labels: approved, lgtm, size/XL

#66 Add support for Alpha Regional Network Firewall Policies
  pkg/cloud/gen.go
  pkg/cloud/gen_test.go
  pkg/cloud/meta/meta.go
Labels: approved, lgtm, size/XXL
